
@font-face{
	font-family: "quicksand";
	src: url('../fonts/Quicksand-Regular.otf') format('opentype');
}
@font-face{
	font-family: "poppins";
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}



