audio,canvas,video {
display:inline;
zoom:1;
}
.plugin-hooks div.row,#plugin-hook div.row {
margin:0px !important;
}
a.home-panel-subcategory:nth-child(n+5){
display:none;
opacity:0;
transition:display 0s linear 0.5s,opacity 0.5s linear;
}
.home-panel-category>a.home-panel-subcategory-show:nth-child(n+5){
display:block;
  opacity:1;
  transition-delay:0s;
}
html {
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
text-size-adjust:100%;
font-size:100%;
line-height:1.125em;
font-family:"Helvetica Neue", HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
color:#404040;
}

a {
/*color:#069;*/
}

a:focus {
outline:none !important;
/*outline-offset:-2px;*/
}

a:hover,a:active {
outline:0;
}

sub,sup {
position:relative;
font-size:75%;
line-height:0;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

img {
max-width:100%;
width:auto\9;
height:auto;
vertical-align:middle;
border:0;
-ms-interpolation-mode:bicubic;
}

#map_canvas img {
max-width:none;
}
div#wrapper_voting_plugin{
padding:0;
margin-top:5px;
}

button,input,select,textarea {
font-size:100%;
vertical-align:middle;
margin:0;
}

button,input {
overflow:visible;
line-height:normal;
}

button::-moz-focus-inner,input::-moz-focus-inner {
border:0;
padding:0;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
cursor:pointer;
-webkit-appearance:button;
}

input[type="search"] {
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
-ms-box-sizing:content-box;
-o-box-sizing:content-box;
box-sizing:content-box;
-webkit-appearance:textfield;
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance:none;
}

textarea {
overflow:auto;
background-color:#fff;
border:solid 1px #bfbfbf;
border-radius:3px;
display:inline-block;
vertical-align:middle;
color:#646464;
line-height:1em;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #dfd8d8;
width:280px;
padding:10px;
}

.has-placeholder {
position:relative;
display:block;
float:left;
}

.has-placeholder label {
position:absolute;
top:0;
left:0;
vertical-align:middle;
color:#646464;
line-height:43px;
height:100%;
width:100%;
text-decoration:none;
text-shadow:0 1px 0 #fff;
overflow:hidden;
padding:0 15px;
}

div.select-box-focus {
outline:0;
border:1px solid #5B9DD9;
-webkit-box-shadow:0 0 5px 1px #5B9DD9;
-moz-box-shadow:0 0 5px 1px #5B9DD9;
box-shadow:0 0 5px 1px #5B9DD9;
}

.select-box {
z-index:0;
position:relative;
width:auto;
background-color:#f9f9f9;
background-image:linear-gradient(top,#f9f9f9,#e0dada);
border:solid 1px #d3d3d3;
border-radius:3px;
display:inline-block;
vertical-align:middle;
color:#fff!important;
line-height:43px;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #fff;
text-shadow:0 1px 0 rgba(0,0,0,0.3);
overflow:hidden;
padding:0;
}

.select-box .select-box-label {
overflow:hidden;
display:block;
float:left;
position:absolute;
top:0;
height:100%;
color:#646464;
line-height:30px;
text-shadow:0 1px 0 #fff;
padding:0 15px;
}

.select-box select {
position:relative;
left:0;
top:0;
width:100%;
height:30px;
-webkit-appearance:none;
z-index:1003;
padding-right:45px;
}

.select-box-icon {
z-index:0;
position:absolute;
top:-7px;
right:0;
height:100%;
width:24px;
text-decoration:none;
display:block;
font-family:icons;
color:#404040;
font-size:.8em;
text-align:left;
}

input.ui-button,button.ui-button {
padding-left:10px;
padding-right:10px;
}

a.ui-button {
line-height:34px;
}

.ui-button-middle {
height:36px;
font-size:1em;
line-height:1em;
}

.doublebutton a {
border:solid 1px #d1d1d1;
background-color:#f7f7f7;
-webkit-border-radius:2px;
border-radius:2px;
cursor:default;
font-size:11px;
font-weight:700;
text-align:center;
white-space:nowrap;
height:auto;
outline:0;
display:block;
float:left;
padding:5px 6px;
}

.doublebutton a span {
text-indent:-9999px;
float:left;
width:16px;
height:16px;
background-image:url(../images/icons.png);
cursor:pointer;
}

.doublebutton .list-button {
margin-right:-1px;
border-top-right-radius:0;
border-bottom-right-radius:0;
border-right:none;
}

.doublebutton .list-button span {
background-position:-16px -16px;
}

.doublebutton .grid-button {
border-top-left-radius:0;
border-bottom-left-radius:0;
border-left:none;
}

span.active a.grid-button span {
background-position:-16px 0;
}

span.active a.list-button {
border:solid 1px #d1d1d1;
background-color:#f7f7f7;
height: auto;
}

span.active a.list-button span {
background-position:0 -16px;
}

.active a.grid-button,.doublebutton a.list-button {
background-color:#35c3d9;
border-color:#23a4b8;
height: auto;
}

.alert_form input {
/*width:184px;*/
margin-bottom:12px;
}

.form-container .controls input,.form-container .meta input {
background-color:#fff;
border:solid 1px #bfbfbf;
border-radius:3px;
display:inline-block;
vertical-align:middle;
color:#646464;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #dfd8d8;
width:280px;
height:30px;
line-height:30px;
font-size:1em;
padding:0 10px;
}

.form-container .ui-drop-files {
width:280px;
height:70px;
text-align:center;
font-size:18px;
line-height:70px;
color:rgba(0,0,0,0.5);
border-top-left-radius:8px;
border-bottom-left-radius:8px;
border-top-right-radius:8px;
border-bottom-right-radius:8px;
padding:0 10px;
}

.form-container .checkbox input,input[type="checkbox"],.form-container .meta input[type="checkbox"],.form-container .controls input[type="checkbox"],input[type="radio"],.form-container .meta input[type="radio"],.form-container .controls input[type="radio"] {
width:auto;
height:auto;
vertical-align:middle;
margin-top:-2px;
border:none;
box-shadow:none;
padding:0;
}

.meta_list .meta ul {
list-style:none;
float:left;
margin:5px 0 0;
padding:0;
}

.meta_list .meta ul li {
clear:both;
list-style:none;
}

.meta_list .meta ul li label {
width:auto;
margin-left:5px;
float:none;
}

.meta_list .meta .cf_date_interval {
width:100px;
}

.meta_list .meta:after {
content:"";
clear:both;
}

.form-container .checkbox {
margin-bottom:5px;
}

.form-container .checkbox label {
font-size:.85em;
}

.form-horizontal .actions {
border-top:solid 1px #eaeaea;
margin:0 25px;
padding:10px 10px 15px 155px;
}

.form-horizontal label {
float:left;
width:160px;
padding-top:7px;
text-align:right;
font-size:.85em;
}

.form-horizontal .controls {
margin-left:180px;
line-height:32px;
}

.form-horizontal .controls label {
float:none;
width:auto;
padding-top:0;
text-align:left;
}

.form-container-box {
border:solid 1px #eaeaea;
max-width:700px;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
margin:0 auto;
}

.form-container-box .header {
background-color:#f7f7f7;
margin-bottom:30px;
padding:10px 15px;
}

.form-container-box .header h1 {
line-height:1.2em;
margin:0;
}

.form-container .photos input {
border:0;
box-shadow:none;
width:100%;
margin:0;
padding:0;
}

.photos_div {
margin-bottom:20px;
}

.form-container .controls #photos a {
font-size:12px!important;
}

.ui-drop-files {
box-shadow:none;
border:4px dashed rgba(0,0,0,0.2);
height:100px;
background:rgba(0,0,0,0.1);
}

.bordered-box {
border:solid 1px #eaeaea;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
font-size:.75em;
padding:10px;
}

.bordered-box h2 {
font-size:1.2em;
margin-top:0;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:700;
}

.form-container .photos img {
width:120px;
}

.arrow-up {
width:0;
height:0;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-bottom:5px solid #35c3d9;
}

.hover .arrow-up {
border-bottom-color:#FFF;
}

.arrow-down {
width:0;
height:0;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-top:5px solid #35c3d9;
}

.hover .arrow-down {
border-top-color:#FFF;
}

.arrow-left {
width:0;
height:0;
border-top:5px solid transparent;
border-bottom:5px solid transparent;
border-right:5px solid #35c3d9;
}

.hover .arrow-left {
border-right-color:#FFF;
}

.arrow-right {
width:0;
height:0;
border-top:5px solid transparent;
border-bottom:5px solid transparent;
border-left:5px solid #35c3d9;
}

.hover .arrow-right {
border-left-color:#FFF;
}

.paginate {
text-align:center;
clear:both;
padding:25px;
}

.paginate li {
display:inline;
list-style-type:none;
}

.paginate a,.paginate span {
text-decoration:none;
border:1px solid #EEE;
border-top-left-radius:3px;
border-bottom-left-radius:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
margin:0 1px;
padding:5px 10px;
}

.paginate strong {
border:1px solid #EEE;
color:#F30;
margin:0 1px;
padding:5px 10px;
}

.paginate em {
border:1px solid #EEE;
color:#AAA;
font-style:normal;
text-decoration:none;
margin:0 1px;
padding:5px 10px;
}

.searchPaginationSelected,.paginate a:hover {
font-weight:700;
background-color:#35c3d9;
color:#FFF;
}

.see_by {
float:right;
border:solid 1px #D1D1D1;
background-color:#F7F7F7;
-webkit-border-radius:2px;
border-radius:2px;
cursor:default;
font-size:13px;
font-weight:400;
text-align:center;
white-space:nowrap;
height: auto;
outline:0;
display:block;
margin-right:10px;
position:relative;
padding:5px 6px;
z-index: 999;
}

.see_by label {
float:right;
color:#1b7e8d;
margin:0;
padding:0 18px 0 5px;
}

.see_by ul {
position:absolute;
right:-1px;
list-style:none;
text-align:right;
background-color:#35c3d9;
border:solid 1px #23a4b8;
border-top-left-radius:2px;
border-bottom-left-radius:2px;
border-top-right-radius:2px;
border-bottom-right-radius:2px;
display:none;
margin:22px 0 0;
padding:8px 10px;
}

.see_by ul a {
font-size:1em;
font-weight:500;
color:#fff;
}

.see_by .arrow-up,.see_by .arrow-down,.see_by .arrow-right,.see_by .arrow-left {
position:absolute;
right:6px;
top:11px;
}

.arrow-envelope {
position:absolute;
right:-1px;
top:-1px;
}

.hover .arrow-envelope {
background-color:#35c3d9;
border:solid 1px #23a4b8;
width:21px;
height:28px;
border-bottom:none;
z-index:3;
}

.wrapper-flash {
font-weight:700;
margin-bottom:35px;
}

.flashmessage {
font-size:14px;
width:100%;
/*top:10px;*/
z-index:999;
text-align:center;
color:#fff;
position:relative;
padding:15px 0;
}

.flashmessage-warning,.help-box {
background-color:#d0a52a;
border:solid 1px #93741e;
}

.flashmessage-error {
background-color:#c44e20;
border:solid 1px #873616;
}

.flashmessage-ok {
background-color:#839b44;
border:solid 1px #4f5e29;
}

.flashmessage-info {
background-color:#30a0ef;
border:solid 1px #2477b2;
}

.help-box {
display:inline-block;
color:#fff;
font-size:14px;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
margin:10px 0;
padding:5px 10px;
}

.flashmessage .ico-close {
position:absolute;
top:4px;
right:17px;
float:right;
font-size:18px;
line-height:18px;
color:#FFF;
text-shadow:none;
text-decoration:none;
font-weight:700;
cursor:pointer;
}

.flashmessage-error .close {
color:#B94A48;
}

.flashmessage-warning .close {
color:#C09853;
}

.flashmessage-success .close,.flashmessage-information .close {
color:#3A87AD;
}

#error_list,.error_list {
background-color:#F2DEDE;
border:solid 2px #EED3D7;
color:#B94A48;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
list-style:none;
display:none;
margin:0 10px 20px;
padding:10px;
}

#error_list li,.error_list li {
list-style:none;
padding:2px 0 2px 18px;
}

#error_list li label,.error_list li label {
margin-top:0;
float:none;
width:auto;
}

.user-card {
background-color:#f7f7f7;
position:relative;
padding-left:120px;
height:120px;
margin-bottom:25px;
}

.user-card ul {
list-style:none;
margin:0;
padding:15px;
}

.user-card .name {
font-size:1.5em;
margin-bottom:15px;
}

.user-card img {
position:absolute;
left:0;
top:0;
width:120px;
}

@font-face {
font-family:icons;
src:url(../fonts/icons.eot?#iefix) format(embedded-opentype),url(../fonts/icons.woff) format(woff),url(../fonts/icons.ttf) format(truetype),url(../fonts/icons.svg#untitledregular) format(svg);
font-weight:400;
font-style:normal;
}

.icons {
font-size:32px;
line-height:32px;
}

.icons :after {
display:inline-block;
font-family:icons;
}

.ico-search:after {
content:"s";
}

.ico-menu:after {
content:"m";
}

.ico-grid:after {
content:"g";
}
body {
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
margin:0;
padding:0;
}
.wrapper {
margin-left:auto;
margin-right:auto;
}

fieldset {
border:0;
margin:0;
padding:0;
}

h1,h2,h3,h4,h5 {
font-weight:700;
letter-spacing:-.03em;
line-height:1em;
margin-top:0;
}

h1 {
font-size:2.2em;
}

h2 {
font-size:1.8em;
}

h3 {
font-size:1.5em;
}

h4 {
font-size:1.3em;
}

h5 {
font-size:1.15em;
}

body.search #sidebar,body.user #sidebar {
float:left;
width:210px;
}
/*
body.search #main,body.user #main {
/*float:right;
width:728px;
}*/

body.search .list-header .actions {
height:35px;
}

.title-has-actions {
border-bottom:solid 1px #eaeaea;
margin-bottom:10px;
}

.title-has-actions h1,.title-has-actions h2,.title-has-actions h3 {
float:left;
margin-bottom:0;
}

.title-has-actions a {
float:left;
margin-left:10px;
font-size:.825em;
line-height:2em;
}

.flashmessage-404 {
background-color:#FCF8E3;
border:solid 1px #FBEED5;
color:#C09853;
border-radius:5px;
font-size:15px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin-top:25px;
padding:10px 15px;
}

.flashmessage-404 ul {
list-style:disc;
padding:10px 0 10px 25px;
}

body.not-found .categories h2,body.not-found .categories h3 {
float:left;
width:25%;
font-size:13px;
font-weight:400;
margin:3px 0;
}

body.not-found fieldset.main {
padding:10px 0;
}

body.not-found h1 {
font-size:24px;
margin-bottom:20px;
}

body.not-found #query {
background-color:#fff;
border:solid 1px #bfbfbf;
border-top-left-radius:3px;
border-bottom-left-radius:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
display:inline-block;
vertical-align:middle;
color:#646464;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #dfd8d8;
width:280px;
height:34px;
line-height:30px;
font-size:1em;
padding:0 10px;
}

#footer {
clear:both;
margin:10px 0;
padding-bottom:0;
/*border-top:solid 1px #eaeaea;*/
padding-top:15px;
font-size:.725em;
}

#footer li {
display:inline;
margin-left:10px;
}

.footer-links,#footer ul {
list-style:none;
clear:both;
margin:0;
padding:0;
}

.footer-links li {
float:left;
width:31%;
padding-right:2%;
margin-bottom:5px;
font-size:.725em;
}

#footer .resp-toogle .publish {
display:block;
margin:15px 0;
padding:0;
}

#footer .resp-toogle .publish a {
background-color:#d94b35;
background-image:linear-gradient(top,#d94b35,#be2e18);
border:solid 1px #a3301f;
border-top-left-radius:3px;
border-bottom-left-radius:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
display:inline-block;
vertical-align:middle;
color:#fff!important;
line-height:43px;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #edaba0;
text-shadow:0 1px 0 rgba(0,0,0,0.3);
width:100%;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
font-size:1.2em;
margin:0;
padding:0;
}

#header {
background-color:#51FF7F;
width:100%;
height:auto;
display:block;
position:relative;
margin-bottom:15px;
padding-bottom:25px;
}

#header .wrapper {
position:relative;
}

#header #logo {
color:#fff;
font-family:Osclass;
border:none;
font-size:2.7em;
line-height:1.5em;
padding-top:20px;
padding-bottom:10px;
}

#header #logo a {
font-size:1.5em;
line-height:.8em;
font-weight:700;
text-decoration:none;
}

#header .publish a {

display:inline-block;

 border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 6px 12px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color:#000!important;
   text-decoration: none;
   vertical-align: middle;
}

#header #logo span {
color:#fff;
font-family:Osclass;
font-weight:100;
text-decoration:none;
border:none;
font-size:.8em;
line-height:1em;
display:block;
}

.main-search {
background-color:#f0f0f0;
background-image:linear-gradient(top,#f0f0f0,#c9c9c9);
width:966px;
height:46px;
border:solid 1px #989393;
box-shadow:inset 0 1px 1px 0 #fff,0px 2px 2px 0 rgba(0,0,0,0.2);
position:relative;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
margin:15px auto 0;
padding:6px;
}

.main-search .has-placeholder {
float:none;
}

.main-search input {
background-color:#f6f6f6;
border:solid 1px #bfbfbf;
border-top-left-radius:3px;
border-bottom-left-radius:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
display:inline-block;
vertical-align:middle;
color:#646464;
line-height:43px;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #d6cece;
height:43px;
width:100%;
padding:0 15px;
}

.main-search .selector {
padding-left:42px;
padding-right:12px;
}

.main-search .reset-padding {
padding-left:0;
}

.main-search .ui-button {
color:#fff!important;
height:43px;
background: #0ec711;
  background-image: -webkit-linear-gradient(top, #0ec711, #3cfc49);
  background-image: -moz-linear-gradient(top, #0ec711, #3cfc49);
  background-image: -ms-linear-gradient(top, #0ec711, #3cfc49);
  background-image: -o-linear-gradient(top, #0ec711, #3cfc49);
  background-image: linear-gradient(to bottom, #0ec711, #3cfc49);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-decoration: none;
  vertical-align:middle;
}

.main-search .cell {
display:table-cell;
width:100%;
vertical-align:top;
}

#header .nav {
position:absolute;
right:0;
top:10px;
list-style:none;
margin:0;
padding:0;
}

#header .nav li {
float:left;
position:relative;
color:#FFF;
}

#header .nav li a,#header .nav li span {
color:#FFF;
font-size:.875em;
}

#header .nav li a {
margin-left:10px;
}

#header .nav li.publish {
clear:both;
float:right;
margin-top:10px;
}

.main-search .select-box .select-box-label {
line-height:43px;
}

.main-search .select-box select {
width:auto;
height:42px;
}

.main-search .select-box-icon {
top:0;
}

.r-list {
display:none;
list-style:none;
margin:0 40px 0 0;
padding:0;
}

.latest_ads .actions {
float:right;
margin-top:5px;
}

body.home #main {
width:640px;
float:left;
margin-top:-20px 40px 0 0;
}

.tbl {
display:block;
width:100%;
}

.cell_3 {
width:33%;
float:left;
}

.cell_3 ul {
margin:0 0 0 20px;
}

.r-list li {
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.r-list li .r-list li li {
float:none;
width:100%;
}

ul.r-list li h1 {
font-size:1em;
overflow:hidden;
text-overflow:ellipsis;
margin:25px 0 10px;
padding:0;
}

ul.r-list li a,ul.r-list li span {
text-decoration:none;
font-size:.8125em;
}

.list-header {
margin-bottom:15px;
z-index:3;
position:relative;
}

.listing-card-list {
list-style:none;
clear:both;
padding:0;
}

.counter-search {
float:left;
line-height:32px;
}

#related-searches h5 {
margin-bottom:10px;
font-size:1em;
}

.listing-card {
clear:both;
border:0;
border-bottom:1px solid #ECECEC;
position:relative;
width:100%;
display:table;
margin:0;
padding:10px 0;
}

.listing-card .listing-basicinfo,.listing-card .listing-attributes {
display:block;
vertical-align:top;
width:auto;
}

.listing-card .listing-attributes {
width:auto;
font-size:.78em;
color:#777;
line-height:1em;
padding:4px 0 8px;
}

.listing-card .currency-value {
white-space:nowrap;
font-weight:700;
color:#78c042;
}

.listing-card .listing-data {
display:table-row;
width:100%;
}

.listing-card .listing-detail {
width:auto;
margin-left:105px;
}

.listing-card .listing-cell {
display:table;
width:100%;
}

.listing-card .listing-thumb img {
height:85px;
width:95px;
}

.listing-card .listing-attributes a {
color:#777;
font-weight:700;
text-decoration:none;
}

.listing-grid .listing-card {
float:left;
width:190px;
height: 250px;
background-color:#FFF;
border:1px solid #ECECEC;
position:relative;
display:block;
clear:none;
margin:0 9px 9px 0;
padding:6px;
}

.listing-grid .listing-card .listing-attributes .location {
display:block;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.listing-grid .listing-card img {
width:100%;
height:auto;
float:none;
}

.listing-grid .listing-detail {
margin-left:0;
}

.listing-grid .listing-basicinfo,.listing-grid .listing-data {
width:100%;
display:block;
}

.listing-grid .listing-basicinfo a {
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
width:100%;
display:inline-block;
}

body.search .listing-grid .listing-card {
width:161px;
}

#sidebar {
width:300px;
float:right;
}

#sidebar fieldset {
border:none;
border-bottom:solid 1px #eaeaea;
font-size:.8125em;
line-height:.8125em;
margin:0;
padding:14px 0 16px;
}

#sidebar h3 {
line-height:1em;
font-size:1em;
margin:0 0 10px;
}

#sidebar input {
vertical-align:bottom;
}

#sidebar .input-text,#sidebar input[type="text"] {
background-color:#fff;
border:solid 1px #bfbfbf;
border-radius:3px;
display:inline-block;
vertical-align:middle;
color:#646464;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #dfd8d8;
width:100%;
height:24px;
line-height:24px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
padding:0 10px;
}

body.user #sidebar {
border-right:solid 1px #eaeaea;
}

#sidebar ul.category li,ul.sidebar-list li,ul.user_menu li {
line-height:1.15em;
padding:3px 0;
}

ul.user_menu li {
font-size:.8125em;
line-height:.8125em;
padding:0 0 12px;
}

#sidebar ul.category ul {
padding-left:15px;
}

#sidebar .show-sub a {
font-weight:700;
}

#sidebar .price-slice input,#sidebar .two_input input {
width:65px;
margin-right:2px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
padding:0 5px;
}

#sidebar .two_input input {
width:70px;
}

#sidebar button {
background-color:#35c3d9;
background-image:linear-gradient(top,#35c3d9,#18a7be);
border:solid 1px #1f91a3;
border-radius:3px;
display:inline-block;
vertical-align:middle;
color:#fff!important;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #a0e3ed;
text-shadow:0 1px 0 rgba(0,0,0,0.3);
line-height:30px;
font-size:.85em;
padding:0 15px;
}

#sidebar .actions {
padding:20px 0;
}

#sidebar .plugin-hooks h6 {
line-height:1em;
font-size:1em;
font-weight:400;
font-family:Osclass;
color:#666;
margin:0 0 10px;
}

.widget-box {
background-color:#f7f7f7;
margin-bottom:15px;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
padding:10px;
}

.widget-box ul {
list-style:none;
margin:0;
padding:0;
}

.widget-box li a {
text-decoration:none;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
width:100%;
font-weight:400;
font-size:.8125em;
display:block;
border-radius:0;
position:relative;
border-bottom:solid 1px #eaeaea;
border-top:solid 1px #eaeaea;
margin:-1px 0;
padding:4px 5px;
}

.widget-box li li a:hover {
background-color:#8bdce9;
color:#fff;
z-index:2;
border-radius:3px;
border-color:#f7f7f7;
}

body.item #sidebar .widget-box,body.user-public-profile #sidebar .widget-box {
padding:20px;
}

body.item #sidebar .form-container .controls input,body.item #sidebar .form-container .controls textarea,body.user-public-profile #sidebar .form-container .controls input,body.user-public-profile #sidebar .form-container .controls textarea {
width:238px;
}

body.item #sidebar .form-container label,body.user-public-profile #sidebar .form-container label {
font-size:.75em;
}

body.item #contact h2,body.user-public-profile #contact h2 {
margin-top:0;
}

.item-photos .main-photo {
width:550px;
float:left;
}

.item-photos .thumbs {
float:right;
width:79px;
}

.item-photos .thumbs img {
margin-bottom:12px;
border:solid 2px #eaeaea;
}

.item-header {
margin-top:-10px;
background:#f7f7f7;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
margin-bottom:15px;
font-size:.75em;
padding:10px;
}

.item-header #type_dates em {
font-style:normal;
}

#description {
clear:both;
padding-top:5px;
}

#Location {
clear:both;
margin-top:15px;
}

div.mark_as {
height:32px;
width:100%;
border:none;
background:transparent;
margin-bottom:15px;
}

.mark_as a {
width:100%;
height:auto;
display:block;
top:0;
left:0;
position:absolute;
}

.mark_as .select-box-label {
border:solid 1px #f2f2f2;
position:relative;
float:none;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
background:#f7f7f7;
}

.similar_ads h2 {
margin-top:35px;
}

.admin-options a {
margin:0 5px;
}

#comments {
margin-top:25px;
}

body.item h1 .price {
font-weight:400;
font-size:24px;
float:right;
background-color:#FCF8E3;
padding:5px 10px;
}

.item #comments {
clear:both;
float:left;
margin-bottom:35px;
width:100%;
}

.item #comments .comments_list {
border-bottom:1px dotted #DDD;
margin-bottom:20px;
}

.item #comments .comment {
background:url(../images/comments_quotes.gif) no-repeat 10px 0;
margin-bottom:15px;
padding:7px 0 0 60px;
}

.item #comments .comment h3 {
color:#666;
margin-bottom:5px;
}

.item #comments .comment h3 em {
color:#888;
font-size:12px;
font-weight:400;
}

.item #comments .comment p {
color:#878787;
font-style:italic;
line-height:18px;
}

.item #comments .pagination {
text-align:right;
margin-right:10px;
margin-bottom:15px;
}

.item #comments .pagination a {
border:1px dotted #AAA;
padding:5px 8px;
}

.item #comments .pagination a.searchPaginationNext,.item #comments a.searchPaginationPrev,.item #comments .pagination a.searchPaginationFirst,.item #comments a.searchPaginationLast {
border:0;
text-decoration:none;
}

.item #comments .pagination a.searchPaginationNext:hover,.item #comments a.searchPaginationPrev:hover,.item #comments .pagination a.searchPaginationFirst:hover,.item #comments a.searchPaginationLast:hover {
background-color:#fff;
}

#plugin-hook .row label {
margin-right:20px;
}


article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,.photos_div a,.hover ul,body.home .r-list,.listing-grid .currency-value,.listing-grid .listing-cell {
display:block;
}

audio:not([controls]),#responsive-trigger,.resp-toogle,body.not-found #uniform-sCategory,#header .nav li.search,#header .nav li.cat,.listing-grid .listing-basicinfo p,.listing-grid .g-hide {
display:none;
}

.select-box a:hover,#footer a,#sidebar a {
text-decoration:none;
}

.ui-button,.old button {
background-color:#f0f0f0;
background-image:linear-gradient(top,#f0f0f0,#c9c9c9);
border:solid 1px #cacaca;
border-top-left-radius:3px;
border-bottom-left-radius:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
display:inline-block;
vertical-align:middle;
color:#5f5f5f!important;
line-height:43px;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #fff;
text-shadow:0 1px 0 rgba(255,255,255,0.3);
padding:0 15px;
}

.ui-button-main,.form-container .main-button {
background-color:#35c3d9;
background-image:linear-gradient(top,#35c3d9,#18a7be);
border:solid 1px #1f91a3;
border-top-left-radius:3px;
border-bottom-left-radius:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
display:inline-block;
vertical-align:middle;
color:#fff!important;
line-height:43px;
text-decoration:none;
box-shadow:inset 0 1px 0 0 #a0e3ed;
text-shadow:0 1px 0 rgba(0,0,0,0.3);
padding:0 15px;
}

.doublebutton,#footer ul,.item-header #type_dates {
float:right;
}

.alert_form button,.listing-grid .listing-thumb,#sidebar .select-box {
width:100%;
}

.form-vertical .control-group,.form-horizontal .control-group,.form-horizontal .meta_list .meta,#plugin-hook .row {
clear:both;
margin-bottom:10px;
}

.form-container .controls,ul.r-list li h1 a,.item #comments h3 {
font-size:1em;
}

.meta_list .meta input[type="checkbox"],body.not-found .categories {
margin-top:10px;
}

.form-horizontal .actions a,.user-card .website,.user-card .location,.user-card .adress,.admin-options {
font-size:.725em;
}

.form-horizontal .select-box,#item-post select {
width:220px;
}

body.item-post .select-box,#main h5,#sidebar .plugin-hooks .row {
margin-bottom:10px;
}

.paginate a.previous,.paginate em.previous {
margin-right:15px;
}

.paginate a.next,.paginate em.next {
margin-left:15px;
}

.see_by span,.latest_ads h1,.listing-card .listing-thumb {
float:left;
}

.clear,.r-list li>li:nth-child(4n),.r-list li .clear,.see_more_link,body.home .listing-grid .first {
clear:both;
}

#footer a:hover,.listing-card .listing-attributes a:hover,#sidebar a:hover {
text-decoration:underline;
}

/*ul.breadcrumb,*/
ul.r-list li ul,#item_location {
list-style:none;
margin:0;
padding:0;
}

.latest_ads,#related-searches {
padding-top:25px;
}

div.first_cel ul,.widget-box h3 {
margin:0;
}

ul.r-list li h1 span,#sidebar .show-sub li a {
font-weight:400;
}

.listing-grid .last,body.search .listing-grid .last,#sidebar .price-slice span {
margin-right:0;
}

.listing-grid .listing-card .listing-attributes .location a,#item_location li {
display:inline;
}

#sidebar ul.category,#sidebar ul.category ul,ul.sidebar-list,ul.user_menu {
list-style:none;
margin:0;
padding:0;
}

.item #comments .pagination a.searchPaginationSelected,.item #comments a:hover {
background-color:#f7f7f7;
}
body>.wrapper{
padding-top:0;
}

@media only screen and max-width 740px{
.wrapper,#footer {
padding-left:10px;
padding-right:10px;
width:auto;
}

div#main,body.home #main,body.search #main,body.user #main,body.item #main,body.user-public-profile #main {
width:auto;
float:none;
clear:both;
}

#header {
padding-bottom:0;
height:auto;
margin-bottom:20px;
}

#footer {
text-align:center;
}

#footer ul {
float:none;
font-size:1.15em;
margin-bottom:15px;
}

.flashmessage {
width:auto;
padding:15px 40px 15px 15px;
}

div#recaptcha_image {
width:100%!important;
height:auto!important;
}

#header #logo {
font-size:1.7em;
letter-spacing:-.07em;
padding-top:10px;
padding-bottom:10px;
margin-left:10px;
}

#header .wrapper {
padding-left:0;
padding-right:0;
width:100%;
position:relative;
}

.main-search {
top:100%;
margin-left:0;
left:0;
width:100%;
padding-left:0;
padding-right:0;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border-top-left-radius:0;
border-top-right-radius:0;
display:none;
position:absolute;
margin-top:0;
border-width:0 0 1px;
}

.main-search .cell {
display:table-cell;
width:100%;
padding-left:11px;
vertical-align:top;
}

.main-search .cell:last-child {
padding-left:42px;
padding-right:11px;
}

.main-search .reset-padding {
padding-left:0;
}

#header .nav {
top:0;
height:100%;
vertical-align:middle;
}

#header .nav li {
height:100%;
display:none;
}

#header .nav li a {
height:100%;
background-color:#23a4b8;
color:#fff;
display:table;
border-left:solid 1px #1b7e8d;
font-size:30px;
margin-left:0;
padding:0 15px;
}

#header .nav li.active a,#header .nav li a:hover {
background-color:#1b7e8d;
color:#fff;
}

#header .nav li .icons:after {
display:table-cell;
vertical-align:middle;
}

body.item #sidebar .widget-box {
padding:20px;
}

body.item #sidebar .form-container .controls input,body.item #sidebar .form-container .controls textarea {
width:238px;
}

body.item #sidebar .form-container label {
font-size:.75em;
}

body.item #contact h2 {
margin-top:0;
}

.alert_form {
background-color:transparent;
}

.form-container .controls input,#sidebar .input-text {
height:32px;
}

input[type="checkbox"] {
width:auto;
height:auto;
}

ul.r-list {
width:100%;
float:none;
list-style:none;
border:none;
background-color:transparent;
text-shadow:none;
margin:0;
padding:0;
}

ul.r-list:after {
content:".";
display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0;
}

ul.r-list li {
position:relative;
margin-bottom:5px;
margin-right:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
padding:0;
}

ul.r-list>li:nth-child(2n) {
padding-left:5px;
}

ul.r-list>li:nth-child(odd) {
clear:both;
}

.r-list>li.clear,.r-list>li:nth-child(4n) {
clear:none;
}

ul.r-list li a.sub-category {
text-decoration:none;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
width:100%;
font-weight:700;
display:inline-block;
border-radius:3px;
box-shadow:0 1px 0 rgba(255,255,255,0.75);
font-size:.8em;
color:#069;
background-color:#f7f7f7;
text-shadow:0 1px 1px #fff;
border-color:#eaeaea;
border-style:solid;
border-width:1px;
padding:10px;
}

ul.r-list li h1 {
text-decoration:none;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
width:100%;
font-weight:700;
display:inline-block;
border-radius:3px;
box-shadow:0 1px 0 rgba(255,255,255,0.75);
color:#069;
background-color:#f7f7f7;
text-shadow:0 1px 1px #fff;
border-color:#eaeaea;
border-style:solid;
border-width:1px;
margin:0;
padding:10px;
}

ul.r-list li ul {
-webkit-transition:opacity 1s ease-out;
opacity:0;
height:0;
overflow:hidden;
}

ul.r-list li.active h1,ul.r-list li.active a {
background-color:#35c3d9;
color:#fff;
text-shadow:0 1px 1px #23a4b8;
border-color:#23a4b8;
}

ul.r-list li span.collapse {
width:16px;
height:16px;
margin-right:10px;
display:inline-block;
}

ul.r-list li.active ul {
opacity:1;
height:auto;
margin:0 0 5px;
padding:5px 0 0;
}

ul.r-list li.active ul li {
padding:0;
}

ul.r-list li.active ul li a {
color:#069;
background-color:#f7f7f7;
text-shadow:0 1px 1px #fff;
font-size:.82em;
border-color:#eaeaea;
}

div.cell_3:nth-child(2n) {
width:31%;
margin:0 1%;
}

body.display-search .main-search,body.home .main-search {
display:table;
}

body.display-search #header,body.home #header {
margin-bottom:80px;
}

.show-filters-btn {
display:inline-block;
border:solid 1px #d1d1d1;
background-color:#f7f7f7;
-webkit-border-radius:2px;
border-radius:2px;
cursor:pointer;
font-size:1em;
line-height:16px;
font-weight:700;
text-align:center;
white-space:nowrap;
height:16px;
outline:0;
text-decoration:none;
color:#9e9e9e;
padding:5px 6px;
}

.form-container .checkbox {
margin-bottom:15px;
}

.form-horizontal .actions {
padding-left:0;
padding-right:0;
margin:0;
}

.form-horizontal label {
float:none;
width:100%;
font-size:.85em;
}

.form-horizontal .controls {
width:auto;
margin-left:0;
}

.listing-grid .listing-card,body.search .listing-grid .listing-card {
width:32%;
border:0;
margin:1%;
padding:0;
}

.listing-grid .listing-detail {
border:solid 1px #ECECEC;
}

.listing-grid .listing-thumb img {
height:auto;
width:92%;
float:left;
margin:4%;
}

.listing-grid .listing-cell {
display:block;
width:92%;
padding:4%;
}

.listing-grid .listing-basicinfo a {
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
width:100%;
display:block;
}

.listing-grid .listing-card:nth-child(3n),body.search .listing-card:nth-child(3n) {
margin-right:0;
}

.listing-grid .listing-card:nth-child(3n+1),body.search .listing-grid .listing-card:nth-child(3n+1) {
margin-left:0;
clear:both;
}

body.item #sidebar,body.user-public-profile #sidebar {
margin-top:20px;
}

.item-photos .thumbs {
float:none;
margin-top:10px;
width:100%;
clear:both;
}

.item-photos .main-photo {
width:100%;
float:none;
}

body.search #sidebar,body.user #sidebar {
margin-bottom:40px;
display:none;
background-color:#f7f7f7;
border:solid 1px #eaeaea;
width:auto;
float:none;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
padding:10px 15px 5px;
}

body.search #content {
position:relative;
padding-top:100px;
}

body.user #sidebar {
margin-top:15px;
}

body.search .list-header {
position:absolute;
top:0;
width:100%;
left:0;
height:80px;
}

body.search #content h1 {
display:block;
font-size:1.5em;
margin:0;
}

.resp-wrapper {
padding:0 10px;
}

body.search .list-header .actions {
clear:both;
padding:10px 0;
}

body.display-filters .show-filters-btn {
background-color:#35c3d9;
color:#FFF;
border-color:#23a4b8;
}

.has-placeholder,.listing-grid .listing-thumb {
float:none;
}

#responsive-trigger,#header .nav li.search,#header .nav li.cat,body.display-cat .r-list,.resp-toogle,body.display-filters div#sidebar {
display:block;
}

#sidebar,.main-search input,.select-box select,#item-post select,.form-horizontal .select-box,.item-photos .main-photo img {
width:100%;
}

.contact_button a,body.item-post .select-box {
margin-bottom:10px;
}

div#recaptcha_widget,div#recaptcha_image>img {
width:100%!important;
}

#header #logo span,.main-search .selector,ul.r-list li span,body.item-post #footer .resp-toogle,.listing-grid .listing-basicinfo p {
display:none;
}

#alert_email,textarea,body.item #sidebar .form-container .controls input,body.item #sidebar .form-container .controls textarea,.form-container .controls input,#sidebar .input-text,button,.ui-button,.select-box {
width:100%;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
}

ul.r-list li ul li,body.not-found .categories h2,body.not-found .categories h3 {
float:none;
width:100%;
}

.form-container-box,.form-container .checkbox input {
width:auto;
}
}

@media only screen and max-width 640px{
body .item-header #type_dates {
float:none;
}

body div.cell_3,body div.cell_3:nth-child(2n) {
width:100%;
margin:0;
}
}

@media only screen and max-width 480px{
ul.r-list li {
float:none;
width:100%;
}

ul.r-list>li:nth-child(2n),body.search ul.r-list>li:nth-child(2n) {
padding-left:0;
}

.listing-grid .listing-card,body.search .listing-grid .listing-card {
width:49%;
clear:none;
}

.listing-grid .listing-card:nth-child(2n),body.search .listing-grid .listing-card:nth-child(2n) {
margin-right:0;
margin-left:1%;
clear:none;
}

.listing-grid .listing-card:nth-child(2n+1),body.search .listing-grid .listing-card:nth-child(2n+1) {
margin-left:0;
margin-right:1%;
clear:both!important;
}

body.home .listing-grid .first {
clear:none;
}
}
.ps-30{
padding:0 30px;
}
.nav.nav-pills > li.lang {
    padding: 10px;
}
div.advertise_area{
height: 250px; width: 250px; background-color: rgb(236, 240, 241); vertical-align: middle; text-align: center; line-height: 248px;background-image: url('../images/advertise_here_250x250.png');
}
.navbar-brand > img {
    max-height: 100%;
}
@media (max-width: 767px) {
div>.thumbnail>a>img.media-object{max-height:59%;}
.content-left,.content-right {padding: 0 ;}
}
@media (min-width: 768px) {
div>.thumbnail>a>img.media-object{max-height:59%;}
.content-left,.content-right {padding: 0 ;}
.navbar-nav.navbar-justify{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}

@media (min-width: 992px) {
div>.thumbnail>a>img.media-object{max-height:59%;}
.content-left,.content-right {padding: 0 ;}
}

@media (min-width: 1200px) {
/*img.media-object{max-width:62%;}*/
.content-left {
  padding: 0 10px 0 0;
}
.content-right {
  padding: 0 0 0 0;
}
.horizontal-form .form-group{margin-bottom: 0;}
}
.content.user_account>#sidebar{float: left;}
.advertise.general_sidebar{max-height:255px;}
.advertise.item_right_side{max-height:605px;}
.advertise.layer_top img{max-height:95px;}
.advertise.layer_bottom img{max-height:95px;}
.advertise{margin-top:10px;margin-bottom:10px;}
a:hover>.fa-facebook-square{ color: #3b5998;}
a:hover>.fa-twitter-square{ color: #00aced;}
a:hover>.fa-linkedin-square{ color: #0077B5;}
a:hover>.fa-google-plus-square{ color: #DD4B39;}

.btn-fb,.btn-fb:hover,.btn-fb:active,.btn-fb:focus {
background-color:#3b5998;
color:#fff;
}
#main-map canvas{margin-top:2px;}
#map-tooltip{
	position:absolute;
	background:#f2f2f2;
	border:solid 2px #bababa;
	margin-left:5px;
	margin-top:0px;
	padding:7px;
	border-radius:5px;
	display:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 1;
	left: 0 ;
	top: 0 ;
}
img[usemap] {
	border: medium none;
	height: auto;
	max-width: 100%;
	width: auto;
}
.transistion{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:    all 0.5s ease-in-out;
	-o-transition:      all 0.5s ease-in-out;
	-ms-transition:     all 0.5s ease-in-out;
	transition:         all 0.5s ease-in-out;
}
.navbar-btn{
margin-left:6px;
margin-right:6px;
}
.colorized {background: #F0E68C! important;}

#responsive-sidebar ul.category,#responsive-sidebar ul.category ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#responsive-sidebar ul.category ul {
    padding-left: 15px;
}
#similar_ads .listing-card {
	float:left;
	width:180px;
	height: 250px;
	background-color:#FFF;
	border:1px solid #ECECEC;
	position:relative;
	display:block;
	clear:none;
	margin:0 2px 2px 0;
	padding:6px;
}
#location {
	margin-top:80px;
	text-align: center;
}
div h4 #user-image {
	margin-top:-80px;
}
#navbar {
	border: medium none;	
}
#navbar .navbar-header{
	margin: 20px 0px;
}
#navbar .container{
	position: relative;
}
#navbar .navbar-nav > li > a{
	background: transparent none repeat scroll 0% 0%;
	border-top: 2px solid transparent;
	padding: 10px 15px 10px 10px;
	font-weight: 400;
}
#full-slider{
	padding: 0px !important;
	margin-bottom: 20px;
}
.nopadding{
	padding-left:0px;
	padding-right:0px;
}
.bg-premium{
	background-color: #C2C2A3;
}
.above{
	position:absolute; 
	top:280px; 
	left:25%; 
	opacity: 0.86;
}
.premiums .thumbnail, .premiums .premium{
	padding: 0px;
}
