/*
.main-search{
	margin-top: 0;
}
#header{
	padding-bottom: 0;
	background: #fff;
}
#header #logo a{
	color: #403d5a;
	font-size: .7em;
}
#header #logo span{
	color: #767777;
	font-size: .5em;
}
#header .nav li a, #header .nav li span{
	color: #fff;
}
._mdl_top_nav{
	background: #403d5a;
	height: 40px;
}*/