.stamp.sidebar {
    display:none;
}



body.user-public-profile .container-user-card .user-card {
    .user-card-right,
    .user-card-left {
        float: none;
        text-align: center;
        width: 100%;
        position: static;
    }
    #map_canvas {
        position: absolute;
    }
}